<div class="filter">
  <span (click)="getList()">
    Todos
    <fa-icon icon="clipboard-list"></fa-icon>
  </span>
  <span (click)="getListByCategory(1)">
    Bolos
    <fa-icon icon="birthday-cake"></fa-icon>
  </span>
  <span  (click)="getListByCategory(3)">
    Salgados
    <fa-icon icon="pizza-slice"></fa-icon>
  </span>
  <span (click)="getListByCategory(2)">
    Doces
    <fa-icon icon="candy-cane"></fa-icon>
  </span>
</div>
<div class="grid">
    <div class="card" *ngFor="let item of items">
        <div class="header">
          <img [src]="item.image" alt="lanche">
        </div>
        <div class="description">
            {{item.description}}
        </div>
        <div class="price">
            {{item.price | currency: 'BR':"RS ":"1.2-2"}}
        </div>

        <button type="button" (click)="addInCar(item.id)">
          Adicionar ao
          <fa-icon icon="cart-plus"></fa-icon>
        </button>
    </div>
</div>

<div class="alert" *ngIf="items.length == 0">
  Nenhum item encontrado
</div>
