.sidenav{
  background-image: linear-gradient(to top, yellow, orange);
  height: 100%;
  position: fixed;
  width: 200px;

  header{
    img{
      margin-top: 20px;
      width: 80px;
      height: 80px;
      margin-left: 30%;
    }
  }

  .items{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    min-height: 100px;

    span{
      color: white;
      font-family: sans-serif;
      font-weight: bold;
      cursor: pointer;
      text-shadow: 1px 1px 2px black;

      &:hover{
        font-size: 1.2em;
        transition: 0.2s;
      }
    }
  }

  .car{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 160px;

    button{
      padding: 15px;
      border: 3px solid white;
      background-color: transparent;
      border-radius: 8px;

      span{
        font-size: 25px;
        color: black;
      }

      fa-icon{
        color: red;
        font-size: 50px;
      }
    }
  }

  .login-logout{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
      display: flex;
      gap: 10px;
      color: white;
      font-family: sans-serif;
      font-weight: bold;
      cursor: pointer;
      text-shadow: 1px 1px 2px black;

      .icon{
        color: black;
      }

      &:hover{
        font-size: 1.2em;
        transition: 0.2s;
      }
    }
  }
}
