.sidenav{
  // background-image: linear-gradient(yellow, red);
  background-image: linear-gradient(red, yellow);
  border-right: 1px solid rgb(158, 167, 167);
  height: 100%;
  float: left;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  img{
    margin-top: 20px;
    width: 30%;
  }

  .menu{
    a{
      text-decoration: none;
    }
  }


}
