<div class="sidenav">
  <header>
    <img [routerLink]="['/']" src="/assets/logo.png" alt="">
    <p *ngIf="name">Bem vindo! {{name}}</p>
  </header>
  <div class="items">
    <span [routerLink]="['/list']">Ver Cardápio</span>
    <span *ngIf="loginService.isAuthenticated && loginService.isAdmin" [routerLink]="['list/add']">Cadastrar Item</span>
    <span *ngIf="loginService.isAuthenticated" [routerLink]="['queue']">
      {{loginService.isAdmin ? "Ver Fila" : "Meus Pedidos"}}
    </span>
    <span *ngIf="loginService.isAuthenticated && loginService.isAdmin" [routerLink]="['graphics']">
      Ver Gráfico
    </span>
  </div>
  <div class="car">
    <button [routerLink]="['/car']">
      <fa-icon icon="shopping-cart"></fa-icon>
      <span>{{countItems}}</span>
    </button>
  </div>
  <div class="login-logout">
    <span *ngIf="!loginService.isAuthenticated" [routerLink]="['/login']">
      <span class="icon">
        <fa-icon icon="sign-in-alt"></fa-icon>
      </span>
      Login
    </span>
    <span *ngIf="loginService.isAuthenticated" (click)="logout()">
      <span class="icon">
        <fa-icon icon="sign-in-alt"></fa-icon>
      </span>
      Logout
    </span>
  </div>
  <div class="register">
    <span *ngIf="!loginService.isAuthenticated" [routerLink]="['/register']">
      <span class="icon">
        <fa-icon icon="user"></fa-icon>
      </span>
      Cadastro
    </span>
  </div>
</div>
