.content{
  padding-top: 50px;

  h1{
    color: #FFA500;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
  }
}


.graphic-line{
  width: 80%;
  margin: auto;
  background-color: white;
}
