.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  header{
    margin-top: 50px;

    h1{
      color: #FFA500;
      font-family: Poppins;
      font-size: 32px;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: center;
    }
  }

  form{
    display: flex;
    flex-direction: column;
    gap: 22px;

    .group{
      display: flex;
      flex-direction: column;

      .icon{
        display: flex;
        gap: 5px;

        select{
          width: 100%;
        }

        .plus{
          border: 2px solid black;
          width: 50px;
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      label{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 900;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: start;
        color: #FFA500;
        backdrop-filter: blur(2px);
      }

      input, select{
        border: none;
        outline: none;
        padding: 15px 30px;
        background-color: white;
      }
    }

    button{
      width: 170px;
      height: 50px;
      flex-shrink: 0;
      border-radius: 25px;
      border: 3px solid #FFA500;
      background: #FFF;
      color: #FFA500;
      align-self: center;
    }
  }

}
