<div class="content">
  <h1 class="title">Login</h1>
  <div class="form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="group">
        <fa-icon [icon]="['far', 'envelope']" class="i"></fa-icon>
        <input placeholder="Email" type="text" formControlName="user">
      </div>
      <div class="group">
        <fa-icon icon="key" class="i"></fa-icon>
        <input placeholder="Senha" type="password" formControlName="password">
      </div>
      <button type="submit">Entrar</button>
    </form>
  </div>
</div>
