.content{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .group{
      display: flex;
      flex-direction: column;
    }

    button{
      border-radius: 4px;
      color: white;
      background-color: red;
      align-self: center;
      border: none;
      width: 100px;
      height: 30px;
    }
  }

}
